---
layout: default
title: My Projects
description: As a software engineer, I often use github for random projects I work on. Here are some of my works!
---
{% include navopen.html %}
<a href="/" class="nav-link">Home</a>
<a href="/projects" class="nav-link active" aria-current="page">Projects</a>
<a href="/blog" class="nav-link">Blog</a>
<a href="/photography" class="nav-link">Photography</a>
<a href="/discord" class="nav-link">Discord</a>
{% include navclose.html %}
<div class="container-fluid">
  {% include jumbo.html %}

  <div class="card-deck">

    <!-- TimeFromSeconds-CLI -->
    <div class="card bg-secondary-subtle">
      <div class="card-header"><a href="https://github.com/chrisjudk/TimeFromSeconds-CLI" target="_blank"
          class="text-warning">TimeFromSeconds-CLI</a></div>
      <div class="card-body">
        <h5 class="card-title">Time Conversion Program</h5>
        <p class="card-text">I wrote this program to convert from some unit of time into a (more) human readable string.
        </p>
      </div>
    </div>

    <!-- stunning-octo-eureka -->
    <div class="card bg-secondary-subtle">
      <div class="card-header"><a href="https://github.com/chrisjudk/stunning-octo-eureka" target="_blank"
          class="text-warning">Stunning-octo-eureka</a></div>
      <div class="card-body">
        <h5 class="card-title">Server Update Script</h5>
        <p class="card-text">I use this script to manage updates and restarts on my Ubuntu server.</p>
      </div>
    </div>

    <!-- hosts -->
    <div class="card bg-secondary-subtle">
      <div class="card-header"><a href="https://github.com/chrisjudk/hosts" target="_blank"
          class="text-warning">Hosts</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Hosts file to block ads and telemetry</h5>
        <p class="card-text">I use this host file on a raspberry pi using the <a href="https://pi-hole.net"
            target="_blank" class="text-warning">pi-hole</a> open-source, dns-based ad blocker.</p>
      </div>
    </div>

    <!-- arrays-start-at-1 -->
    <div class="card bg-secondary-subtle">
      <div class="card-header"><a href="https://github.com/chrisjudk/arrays-start-at-1" target="_blank"
          class="text-warning">Arrays-start-at-1</a></div>
      <div class="card-body">
        <h5 class="card-title">CyberPatriot Script</h5>
        <p class="card-text">This repository contains the scripts that were used by my CyberPatriot team. The Linux
          script
          is definitely more mature than the windows script,
          but I hope to see someone else utilize this to build a better script since I am no longer in High School and
          thus do not participate in CyberPatriot.</p>
      </div>
    </div>

  </div>
</div>