---
layout: default
title: Chrisjudk
---
{% include navopen.html %}
<a href="/" class="nav-link active" aria-current="page">Home</a>
<a href="/projects" class="nav-link">Projects</a>
<a href="/blog" class="nav-link">Blog</a>
<a href="/photography" class="nav-link">Photography</a>
<a href="/discord" class="nav-link">Discord</a>
{% include navclose.html %}
<!-- Bio -->
<div class="media">
  <div class="text-center">
    <h3 class="mt-0">About Me</h3>
    <img class="rounded-circle mx-auto d-block"
      src="https://lh3.googleusercontent.com/i9MFwiqS_TmJRUqStvrN4L3DqX1qXzBETqFUtIl83R0jrpnhcevwK1BHFavajKZK6todVX1B5Dmd5me1fqm1Peacps10P0X1P15gDJtbYYlnfwSxhzpxtOM1mW04-GeorX_F6K_PvBU=s128-no"
      alt="photo of Chris Judkins">
  </div>
  <div class="media-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <h5>Chris Judkins </h5>
          <p>Cybersecurity Engineering, B.S. <small>Augusta University</small></p>
          <p>Software Engineer</p>
        </div>
        <div class="col-md-6">
          <p>I recieved a Comptia Security+ certification in 2017 (Exp. 04/19/2020). I was involved with my high
            school's CyberPatriot team for 3 years, attended the Cyber Sciences Summer Academy at Augusta University
            twice (Once was when the school was named GRU), and have been to numerous tech conferences in the Augusta
            area.</p>
        </div>
        <div class="col-md-6">
          <p>As for my hobbies, I have a passion for photography. I also enjoy writing code and building an
            overly-complex home network. Whenever I have the chance, I like to travel and try new things. As of May
            2019, my most recent adventure
            saw me leaving the US for the first time to study abroad in the UK. I believe that the best way to
            understand the world is to experience as many cultures as I can. That is what I classify as the human
            experience.</p>
        </div>
      </div>
    </div>
  </div>
</div>