<footer>
  <div class="card text-white bg-secondary">
    <div class="card-body">
      <ul class="list-inline">
        <li class="list-inline-item">Email: <a href="mailto:chrisjudk@gmail.com"><span class="fas fa-envelope-square text-warning"></span></a></li>
        <li class="list-inline-item">Github: <a href="https://github.com/chrisjudk"><span class="fab fa-github-square text-warning"></span></a></li>
        <li class="list-inline-item">Instagram: <a href="https://www.instagram.com/chrisjudk/"><span class="fab fa-instagram text-warning"></span></a></li>
      </ul>
    </div>
  </div>
</footer>
