<header>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Chrisjudk.me</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="/" class="nav-link">Home</a>
          <a href="/projects" class="nav-link">Projects</a>
          <a href="/blog" class="nav-link">Blog</a>
          <a href="/photography" class="nav-link">Photography</a>
          <a href="/discord" class="nav-link">Discord</a>
        </div>
      </div>
    </div>
  </nav>
</header>