---
layout: default
title: Discord
description: <a href=https://discord.gg/BBmWAYW>https://discord.gg/BBmWAYW</a>
---
{% include navopen.html %}
<a href="/" class="nav-link">Home</a>
<a href="/projects" class="nav-link">Projects</a>
<a href="/blog" class="nav-link">Blog</a>
<a href="/photography" class="nav-link">Photography</a>
<a href="/discord" class="nav-link active" aria-current="page">Discord</a>
{% include navclose.html %}
<div class="container-fluid">
    {% include jumbo.html %}

    <iframe src="https://discordapp.com/widget?id=548630803291308033&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"></iframe>
</div>